@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: monospace;
}

@media (prefers-color-scheme: light) {
	body {
		background-color: theme("colors.slate.100");
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: theme("colors.slate.700");
	}
}

.button {
	background: #f1f5f9;
	box-shadow: 8px 8px 16px #c9d9e8, -8px -8px 16px theme("colors.white");
	border-radius: 3rem;
	color: theme("colors.slate.500");
	font-weight: 600;
	padding: 1rem;
}

.button:hover {
	background: linear-gradient(
		90deg,
		theme("colors.blue.500") 0%,
		theme("colors.green.500") 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	transition: all ease-out 100ms;
}

.button:active {
	box-shadow: 4px 4px 8px #c9d9e8, -4px -4px 8px theme("colors.white");
	background: linear-gradient(
		90deg,
		theme("colors.blue.500") 0%,
		theme("colors.green.500") 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
